@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
main {
  max-width: 300px;
  margin: auto;
  background-color: var(--white);
  padding: 0.8rem;
  border-radius: 1.5rem;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-section {
  height: 80%;
  padding-bottom: 0.6rem;
}
.img-section img {
  width: 100%;
  border-radius: 1.5rem;
}
.details-section {
  text-align: center;
  padding: 1.4rem 1rem;
  height: 20%;
}
.details-section h1 {
  color: var(--dark-blue);
  font-size: 1.25rem;
}
.details-section p {
  color: var(--grayish-blue);
  font-size: 0.95rem;
  margin: 1rem 0;
}
